/* app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:wght@200;400&display=swap');

body {
  margin: 0;
  font-family: 'Winky Sans', sans-serif;
}

/* Style nav links */
nav a {
  color: #F5EEDC;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  font-size: 1.5rem;
}

nav a:hover {
  background-color: #DDA853;
  border-radius: 4px;
}

/* header1 class for main headings */
.header1 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

/* italic subtitles class */
.italic-subtitles {
  font-size: 1rem;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

.paragraph {
  font-size: 1rem;
  margin: 0.5rem auto;
  /* Center the paragraph horizontally */
  line-height: 1.5;
  max-width: 600px;
  /* Constrain the maximum width */
  width: 90%;
  /* Make it responsive by using a percentage width */
}

.paragraph-blog {
  font-size: 1rem;
  margin: 0.5rem auto;
  /* Center the paragraph horizontally */
  line-height: 1.5;
  max-width: 600px;
  /* Constrain the maximum width */
  width: 90%;
  /* Make it responsive by using a percentage width */
  text-align: justify;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 0rem;
}

.mainContainer>div {
  margin: 0 auto;
}

.blog-title-link {
  color: #27548A;
  text-decoration: none;
  font-size: 1.5rem;
}

.blog-title-link:hover {
  text-decoration: underline;
  color: #DDA853;
}

.page-transition {
  animation: fadeInScale 1.5s ease-in-out;
}

.page-transition.animating {
  animation: fadeOutScale 0.5s ease-in-out;
  /* Add fade-out animation */
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.95);
    /* Start slightly smaller */
  }

  to {
    opacity: 1;
    transform: scale(1);
    /* End at normal size */
  }
}

@keyframes fadeOutScale {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.95);
  }
}