/* app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Winky+Sans:wght@200;400&display=swap');

:root {
  /* Color palette */
  --color-secondary: #F7BC45;
  --color-accent: #DCA561;
  --color-accent-dark: #223249;
  --color-background: #DCD7BA;
  --color-background-dark: #C8C093;
  --color-foreground: #1F1F28;
  --color-foreground-light: #54546D;

  --blue: #2D4F67;
}

body {
  margin: 0;
  font-family: 'Libertinus Sans';
  color: var(--color-foreground);
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.main-container {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Responsive width */
  max-width: 800px;
  width: 75%;
}

.italic-subtitles {
  font-style: italic;
  font-weight: 400;
}

.centered-paragraph {
  text-align: center;
  margin: 0 auto;
  width: 75%;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.portrait-image {
  /* Center the image */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Border */
  border: 2px solid rgba(24, 59, 78, 0.63);

  padding: 1rem;
  width: 60%;

  margin-bottom: 1rem;
}

.buddy-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
  width: 70%;
  padding: 0.25rem;

  margin-bottom: 1rem;
}

/* style= {
    {
    backgroundColor: '#F5EEDC',
      boxShadow: '0 0 10px rgba(0,0,0,0.1)',
      maxWidth: '600px',
      width: '50%',
  }
} */

/* Style nav links */
nav a {
  color: var(--color-background);
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  transition: background-color 0.3s ease;
  font-size: 2rem;
}

nav a:hover {
  background-color: var(--color-foreground);
  color: var(--color-accent);
  border-radius: 4px;
}

.social-link {
  color: var(--color-primary);
  text-decoration: underline;
}

.social-link:hover {
  background-color: var(--color-background-dark);
  color: var(--blue);
}

@keyframes subtleFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes subtleFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
